[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    .venv,
    coretelcom,
    airflow_logs,
    .mypy_cache,
    .pytest_cache

ignore =
    E402,  
    E266, 
    E722,  
    W503,  
    D100,  
    D101,  
    D102,  
    D103,  
    D104,  
    D105,  
    D107,
    E117
