Transform/logs/
Transform/dbt_transform/dbt_packages/
__pycache__/
*.pyc
Transform/dbt_transform/target/
airflow/__pycache__/
logs/
.env
coretelcom
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
get_rocket_pictures.py